body{
    
    background-color:black ;
 }
    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        
    }
    
    .navbar{
             display:flex;
             flex-flow:row nowrap;
             justify-content:space-evenly;
             overflow:visible;
             background-color: black;
             top:0;
             position:sticky;
             z-index:1000;
             
             
    }
    .navbar a{
        
        display: inline-block;
        color:yellow;
        padding: 14px 20px;
        text-decoration: none;
        font-family: serif;
        font-size:xx-large;
    }
    .navbar a:hover{
        
        color: white;
    }
    .hpics{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        height: auto;
        width: 100%;
        opacity: 0.5;
    }
    .hpics:hover{
        width: 100%;
        opacity: 1.0;

    }
    .image-container {
        position: relative;
        text-align: center;
    }
 .image-container {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow; 
    font-size:xxx-large;
    display: none;
    text-decoration: none;
  }
  .centered:hover{
    color: white; 
    font-size:xxx-large;
    display: none;
    text-decoration: none;
  }
  

  .hpics:first-child,
  .centered:first-child {
    display: block;
  }
  .footer{
      background-color:black;
      color: yellow;
      padding: 10px;
      text-align: left;
     
  }
  .footer a{
    color: yellow;
    text-decoration: none;
  }
  .footer a:hover{
    color: white;
  }
/* End of home page css*/
.wwd{
    background-color: #000000;
    color:yellow;
    text-align: center;
    font-style: serif;
    font-size: xx-large;
    padding-top: 5%;
}
.wpics, .copics, .lpics, .sopics, .cupics{
        display:inline block;
        margin-left: auto;
        margin-right: auto;
        width: 498px;
        height:300px;
        
    }
    /*End of what we do page css*/
    .about_us{
        position:relative;
        z-index: 1;
        border: 1px solid;
        padding: 100px;
        box-shadow: 10px 10px 10px rgb(204, 204, 48) ;
    }
    .about_us h1{
        color: rgb(204, 204, 48);
        font-size: xx-large;
        text-align: center;
        text-decoration: underline;
    }
    .about_us p{
        color: white;
        font-size: larger;
        text-align: center;

    }
    /* End of about us page css */
    .register{
        position: relative;
        z-index: 1;
        border: 1px solid;
        padding:2px;
        box-shadow: 10px 10px 10px yellow;
    }
    label {
        display: block;
        margin-bottom: 8px;
    }
    
    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
    
    #Submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: yellow;
        color:black;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100px;
    }
    
    #Submit:hover {
        background-color: white;
    }
    
    .sns a{
        color: yellow;
    }

    .sns a:hover{
        color: green;
    }
    #message {
        display: none;
        padding: 10px;
        background-color: yellow;
        text-align: center;
    /*End of contact us page css*/